h2= title

form(action='/' method='POST')
      label(for='music') Music
      hr
      input(type='text'
            name='artist'
            id='artist'
            value=(fact.music || '')
            )
      hr
      label(for='album') Album
      hr
      input(type='text'
            name='album'
            id='album'
            value=(fact.album || '')
            )
      hr
      label(for='title') Description
      hr
      textarea(type='text'
            name='text'
            id='text'
            rows='10'
            )=(fact.text || '')
      hr
      input(type='submit' value='Submit')